<div class="d-flex flex-column align-items-center">
    <app-header></app-header>
    <span class="quiz-block d-flex flex-column" style="background-color: #F1EEE6;  border-color: #353148;">
        <h4 class="text-center">Your result of {{category.name}} quiz:</h4>
        <h4 class="text-center" style="color: #b98e68;">{{correctAnswers}}/{{result.length}}</h4>
        <span class="d-flex align-items-center mx-2">
            <h5>{{comment.text}}</h5>
            <i class="{{comment.icon}}"></i>
        </span>
        <span class="buttons">
            <button (click)="backToHome()" class="play-finish-btn">To home page</button>

        </span>
    </span>
    <!-- <app-footer></app-footer> -->
</div>