@import "../../styles.scss";

div {
  width: 100%;
  min-height: 100vh;
  background-color: $background;
  background-image: url("../../utils/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.1em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-family: "Montserrat-SemiBold";
    color: $darkBlue;
    font-size: 1.2em;
    margin-bottom: 0;
    background-color: $lightGrey;
    border-radius: 8px;
    padding: 3px 5px;
    margin-bottom: 5px;
  }
  h2 {
    font-family: "Montserrat-Bold";
    color: $background;
  }
  a {
    font-family: "Montserrat-Bold";
    color: $lightGrey;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
    padding: 0.5em;
    margin-left: -0.5em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    &:before,
    &:after {
      position: absolute;
      content: "";
      border-bottom: 3px solid $darkBrown;
      border-radius: 1em;
      bottom: 0.3em;
      transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:before {
      width: 1em;
      transform-origin: left;
    }

    &:after {
      width: 82%;
      left: 1em;
      transform: translateX(110%);
    }

    &:hover:before {
      transform: scaleX(0.3);
    }

    &:hover:after {
      transform: translateX(0);
    }
  }
}
