<div class="block d-flex flex-column align-items-center">
    <app-header></app-header>

    <div class="quiz-block d-flex justify-content-between flex-column">
        <span *ngIf="!confirmPlay">
            <span class="d-flex flex-wrap align-items-center">
                <i class="fa-solid fa-list"></i>
                <p>Category: </p>
                <h4>{{category.name}}</h4>
            </span>
            <span class="d-flex flex-wrap align-items-center">
                <i class="fa-solid fa-bolt"></i>
                <h4>10 question</h4>
            </span>
            <span class="d-flex flex-wrap align-items-center">
                <i class="fa-regular fa-comment"></i>
                <p> Answer type:</p>
                <h4> True / False</h4>
            </span>
        </span>
        <span class="true-false-btn" *ngIf="confirmPlay">
            <p>{{data.results.at(counter)?.question}}</p>
            <span class="w-100 d-flex justify-content-around">
                <button (click)="selectAnswer('True')" [class.selected]="selectedAnswer === 'True'">
                    True
                </button>
                <button (click)="selectAnswer('False')" [class.selected]="selectedAnswer === 'False'">
                    False
                </button>
            </span>
        </span>
        <span class="buttons w-100 d-flex justify-content-between align-items-center">
            <button class="cancel-btn" (click)="cancel()">Cancel</button>
            <button class="play-finish-btn" *ngIf="!confirmPlay" (click)="play()">Play</button>
            <button class="next-btn" *ngIf="counter!=data.results.length-1 && confirmPlay"
                (click)="checkAnswers(data.results.at(counter)!)">Next</button>
            <button class="play-finish-btn" *ngIf="counter==data.results.length-1"
                (click)="finish()">Finish</button></span>
    </div>

    <ngx-spinner bdColor="rgba(241, 238, 230, 0.95)" size="large" color="#353148" type="ball-scale-multiple"
        [fullScreen]="true">
        <p style="color: #353148"> Loading ... </p>
    </ngx-spinner>
    <!-- <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button> -->

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="myToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <p> Choose an answer and then go to the next question!</p>
        </div>
    </div>
</div>