@import "../../styles.scss";
.block {
  width: 100%;
  min-height: 100vh;
  background-color: $background;
  background-image: url("../../utils/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2.1em;

  .subtitle {
    h4 {
      font-family: "Montserrat-SemiBold";
      font-size: 1.8em;
      color: $darkBrown;
      padding: 0 0.2em;
      line-height: 1.5em;
    }
    p {
      font-family: "Montserrat-Bold";
      padding: 0 0.2em;
      line-height: 1.6em;
      text-decoration: underline;
      text-underline-offset: 10px;
      overflow: hidden;
      margin: 0;
      // line-height: 35px;
      // font-size: 1.8em;
      animation: 3s anim-text ease-out;
      color: $brown;
      @keyframes anim-text {
        0% {
          opacity: 0;
          transform: translateY(80%);
        }
        20% {
          opacity: 0.5;
        }
        50% {
          opacity: 1;
          transform: translateY(0%);
        }
        100% {
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
  }
  .line-block {
    width: 100%;
    padding: 1em 3em;
    background-color: $lightGrey;
  }
  button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 1em;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat-Regular";
    font-size: 1em;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    border: none;
    z-index: 1;
    &:after {
      content: "";
      border: 1px solid $darkBrown;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $darkBrown;
      border-radius: 1em;
      z-index: -2;
    }
    &:before {
      content: "";
      position: absolute;
      border: 2px solid $brown;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: $brown;
      transition: all 0.3s;
      border-radius: 1em;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
  .tip-block {
    width: 80%;
    padding: 2em;
    p {
      margin: 0 10px;
      font-family: "Montserrat-Regular";
      background-color: $background;
      padding: 10px;
      border-radius: 8px;
      width: 70%;
    }
    &:hover {
      p {
        box-shadow: 0 0 6px 0px $lightGrey;
      }
      i {
        color: $brown;
      }
    }
  }
}
.items-block {
  padding: 2em;
  margin-top: 1em;
}

.category-item {
  flex-basis: calc(20.5% - 1.5em);
  margin: 0.5em;
  overflow: hidden;
  border-radius: 1.5em;
  box-shadow: 0px 0px 3px 0px $darkBlue;
  // border: 1px solid $darkBlue;
  a {
    display: block;
    border-radius: 1.5em;
    padding: 1.5em;
    background-color: #d2cfc4d5;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    div {
      height: 128px;
      width: 128px;
      background-color: $darkBlue;
      z-index: 1;
      position: absolute;
      top: -75px;
      right: -75px;
      border-radius: 50%;
      -webkit-transition: all 0.6s ease;
      -o-transition: all 0.6s ease;
      transition: all 0.6s ease;
    }
    p {
      margin: 0.5em 0;
      overflow: hidden;
      font-size: 1.5em;
      font-family: "Montserrat-Regular";
      color: #fff;
      z-index: 2;
      position: relative;
    }
  }
  &:hover {
    cursor: pointer;
    a {
      text-decoration: none;
      color: #fff;
      &:hover div {
        -webkit-transform: scale(10);
        -ms-transform: scale(10);
        transform: scale(10);
      }
    }
  }
}



@media only screen and (max-width: 1125px) {
  .category-item {
    flex-basis: calc(25% - 1.5em);
    margin: 0.5em;
  }
  .subtitle {
    width: 80%;
    h4 {
      background-color: $lightGrey;
      border-radius: 8px;
      min-height: 40px;
      font-size: 1.5em !important;
      // line-height: 1.8em !important;
    }
  }
}

@media only screen and (max-width: 950px) {
  .category-item {
    flex-basis: calc(34% - 1.5em);
  }
  .subtitle {
    width: 70%;
  }
}

@media only screen and (max-width: 735px) {
  .category-item {
    flex-basis: calc(47% - 1.5em);
    margin: 0.5em 1.2em;
  }
}

@media only screen and (max-width: 543px) {
  .items-block {
    width: 80%;
  }
  .category-item {
    flex-basis: 100%;
  }
  .subtitle {
    width: 90%;
    h4 {
    }
  }
}
